name: Test Workflow
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      # Checkout do C贸digo
      - name: 猬锔 Checkout do C贸digo
        uses: actions/checkout@v4

      # Configurar Python
      - name:  Configurar Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      # Criar Arquivo `.env`
      - name:  Criar Arquivo `.env`
        run: |
          echo "MONGO_URI=${{ secrets.MONGO_URI }}" >> api/.env
          echo "MONGO_DB_NAME=${{ secrets.MONGO_DB_NAME }}" >> api/.env
          echo "MONGO_COLLECTION_NAME=${{ secrets.MONGO_COLLECTION_NAME }}" >> api/.env
          echo "AMQP_URL=${{ secrets.AMQP_URL }}" >> api/.env
          echo "QUEUE_NAME=${{ secrets.QUEUE_NAME }}" >> api/.env

      # Instalar Depend锚ncias
      - name:  Instalar Depend锚ncias
        run: |
          python -m venv .venv
          source .venv/bin/activate
          pip install --upgrade pip
          pip install -r requirements.txt

      # Instalar Robot Framework e Bibliotecas
      - name:  Instalar Robot Framework e Bibliotecas
        run: |
          source .venv/bin/activate
          pip install robotframework robotframework-seleniumlibrary robotframework-requests robotframework-browser
          rfbrowser init

      # Verificar Ambiente e Instalar Depend锚ncias do Playwright
      - name: 锔 Instalar Depend锚ncias do Sistema para Playwright
        run: |
          sudo apt-get update
          sudo apt-get install -y libnss3 libatk1.0-0 libcups2 libdbus-1-3 libxcomposite1 libxrandr2 libxss1 libxcursor1 libasound2 libxdamage1 libxinerama1 libpango1.0-0 libgtk-3-0 libxext6 libx11-xcb1
          sudo apt-get install -y fonts-liberation lsb-release xdg-utils wget

      # Executar Testes Automatizados
      - name:  Executar Testes Automatizados
        run: |
          source .venv/bin/activate
          robot -d results tests/web

      # Armazenar Relat贸rios e Logs
      - name:  Armazenar Relat贸rios e Logs
        uses: actions/upload-artifact@v3
        with:
          name: relatorios-de-testes
          path: results/
